body {
  font-family: Verdana, Sans-Serif;  
}

.main {
  background-image: url(https://wallpaperaccess.com/full/1123941.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #ffffff;
  overflow-y: scroll;
  font-size: 20px
}

.main::after {
  content: "";
  background-color: rgb(0, 0, 0,.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Tittle and paragraph */
.main > h1,
.main > p {
  text-align: center;
  z-index: 2;
  position: relative;
}

.main >p{
  font-size: 18px;
  margin-top: -10px;
}

/* Squared background */
.main-content {
  background-color: rgb(95, 161, 153, .8);
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  box-shadow: 0px -1px 10px 5px rgb(112, 186, 171, 0.8);
}

.question {
  margin-top: 10px; 
}
.question p,
.question label,
.question legend {
  font-size: 17px;
}

#name, #email, #number, #dropdown, #comment, #comment2 {
    display: block;
    width: 97%;
    height: 20px;
    padding: 5px 10px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ededed;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
}

#dropdown{  
  height: 32px;
  color: gray;
  width: 100%;  
}

label[for=name], 
label[for=email],
label[for=number],
label[for=dropdown],
label[for=comment],
label[for=comment2]{
  margin-bottom: 5px;
  display: inline-block;
  font-size: 17px;
}

fieldset[for=radio]{
  font-size: 17px;
}

label[for=comment] {
  padding-top: 20px;
}

legend {
  padding-top: 10px;
  }

#checkbox {
  font-size: 17px;
}
#pick-it-up, 
#swim-out,
#ignore-it,
fieldset input {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-top: 50px;
}

#comment, #comment2 {
  min-height: 50px;
}

textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: 14px;
}

#submit {
  display: block;
  width: 100%;
  padding: 0.50rem;
  background: #62bfa2;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  color: #ffffff;
  font-size: 18px;
}